---
layout: default
title: Riggl.es
---

<div id="posts">
	{% for post in paginator.posts %}
		{% if post.layout == 'link' %}
		<article class="link">
			<h2><a href="{{ post.source }}">{{ post.title }}</a></h2>
			<time>{{ post.date | date: "%B %d, %Y" }}</time><span class="permalink"><a href="{{ post.url }}">∞</a></span>
			{{ post.content }}
			
		{% elsif post.layout == 'article' %}
		<article class="article">
			<h2 class="capslock">{{ post.title }}</h2>
			<time>{{ post.date | date: "%B %d, %Y" }}</time><span class="permalink"><a href="{{ post.url }}">∞</a></span>
			{{ post.content }}
			
		{% elsif post.layout == 'quote' %}
		<article class="quote">
			<h3>{{ post.title }}</h3>
			<p class="author">— {{ post.author }}</p>
			
		{% elsif post.layout == 'chat' %}
		<article class="chat">
			<h3>{{ post.title }}</h3>
				{{ post.content }}
		{% endif %}
		</article>
	{% endfor %}

	<div id="post-pagination">
	  {% if paginator.previous_page %}
	    <p class="previous">
	      {% if paginator.previous_page == 1 %}
	        <a href="/">Previous</a>
	      {% else %}
			<a href="/page{{paginator.previous_page}}">Previous</a>
	      {% endif %}
	    </p>
	  {% endif %}
	
	  {% if paginator.next_page %}
	    <p class="next">
	      <a href="/page{{paginator.next_page}}">Next</a>
	    </p>
	  {% endif %}
	
	</div>

</div>
