---
layout: default
title: Riggl.es
---

<div id="posts">
	{% for post in paginator.posts %}
		{% if post.layout == 'link' %}
		<article class="link">
			<header class="link-title">
<!--				<span class="link-icon">&#8599;</span>-->
				<h2>
					<a href="{{ post.source }}">{{ post.title }}</a>
				</h2>
				<time>{{ post.date | date: "%B %d, %Y" }}</time>
				<span class="permalink"><a href="{{ post.url }}">∞</a></span>
			</header>
<!--			<header class="link-title">
				<h2><a href="{{ post.source }}">{{ post.title }}</a></h2>
				<time>{{ post.date | date: "%B %d, %Y" }}</time>
				<span class="permalink"><a href="{{ post.url }}">∞</a></span>
			</header>-->
			<div class="main-content">
				{% if post.excerpt %}
					{{ post.excerpt }}
				{% else %}
					{{ post.content }}
				{% endif %}
			</div>
			
		{% elsif post.layout == 'article' %}
		<article class="article">
			<header class="article-title">
				<h2>{{ post.title }}</h2>
				<div class="permalink">
					<span>
						<time>{{ post.date | date: "%B %d, %Y" }}</time>
						<a href="{{ post.url }}">∞</a>
					</span>
				</div>
			</header>
			<div class="main-content">
				{{ post.content }}
			</div>
			
		{% elsif post.layout == 'quote' %}
		<article class="quote">
			<h3>{{ post.title }}</h3>
			<p class="author">— {{ post.author }}</p>
			
		{% elsif post.layout == 'chat' %}
		<article class="chat">
			<header class="chat-title">
				<h3>{{ post.title }}</h3>
				<span class="permalink">
					<a href="{{ post.url }}">∞</a>
				</span>
			</header>
			{{ post.content }}			
		{% endif %}
		</article>
	{% endfor %}

	<div id="post-pagination">
	  {% if paginator.previous_page %}
	    <p class="previous">
	      {% if paginator.previous_page == 1 %}
	        <a href="/">Previous</a>
	      {% else %}
			<a href="/page{{paginator.previous_page}}">Previous</a>
	      {% endif %}
	    </p>
	  {% endif %}
	
	  {% if paginator.next_page %}
	    <p class="next">
	      <a href="/page{{paginator.next_page}}">Next</a>
	    </p>
	  {% endif %}
	
	</div>

</div>
